@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap');
body{
font-family: "Nunito Sans", sans-serif;
}
.navigation{
display: flex;justify-content: space-around;
background-color: white;
border-bottom: 1px solid rgb(230, 226, 226);
position: fixed;
top: 0;
width: 100%;
z-index: 1000%;
}
.menu{
display: flex;
justify-content: space-around;
gap: 30px;
margin-top: 20px;
}
.phone{
margin-top: 20px;
}
.logo{
width: 80px;
}
.menu{
list-style-type: none;
}
.menu a{
font-weight: 500;
color: #1D1D1B;
text-decoration: none;
}
.menu a:hover{
color: #8F5633;
transition: 0.4s ease;
}
.menu_btn{
background-color:  #8F5633;
color: white;
border: none;
border-radius: 8px;
width: 150px;
font-weight: bold;
height: 40px;
margin-top: 11px;
margin-right: 30px;
cursor: pointer;
}
.menu_btn:hover{
background-color:  #924819;
transition: 0.2s ease;
}
.menu_btn:active{
scale: 0.9;
}
.first{
margin-left: 120px;
width: 1250px;
height: 150px;
margin-top: 150px;
background-color: #b38254;
border-radius: 30px;
}
.text_first{
text-align: center;
padding-top: 10px;
color: white;
}
.second_menu{
display: flex;
justify-content: space-around;
}
.img_l{
float: left;
}
.kategory_menu{
border-top: 1px solid #b38254;
list-style-type: none;

}
.kategory_menu a{
text-decoration: none;
color:#924819;
font-weight: bold;
}
.kategory_menu a:hover{
color: #5b2401;
text-decoration: underline;
transition: 0.4s ease;
}
.link{
    margin-top: 25px;
}
.gap{
    margin-top: 70px;
    display:grid;
    gap:35px;
    grid-template-columns: auto auto auto ;
    justify-content: center;
}
.box_1{
    text-align: center;
}
.span_box{
    font-weight: bold;
    color: #5b2401;
    font-size: 18px;
}
.p_box{
    color: #1D1D1B;
    font-weight: bold;
}
.img_gap{
    width: 300px;
    border-radius: 30px;
}
.footer{
display: flex;
justify-content: space-around;
margin-top: 40px;
 border-radius: 30px;
background-color: #333339;
 padding-bottom: 60px;
}
.tables{
 display: flex;
 gap: 40px;
}
.logo_f{
margin-top: 30px;
margin-left: 50px;
width: 100px;
}
.logo_f:hover{
box-shadow:  1px 1px 30px #eceae9; 
transition: 0.4s ease;
}
.p_footer{
color: white;
}
.h3_f{
color: white;
}
.tables{
 color: white;
cursor: pointer;
}
.tables li:hover{
text-decoration: underline;
color:#8F5633;
transition: 0.4s ease;
}
.contacts_h3{
color: white;
}
.span_f{
color: white; 
}
.social_n{
 margin-top: 30px;
display: flex;
 gap: 30px;
}
.finish{
background-color: #333339;
text-align: center;
border-radius: 30px;
 padding-bottom: 50px;
}
.finish_p{
padding-top: 10px;
 border-top: 1px solid rgb(230, 226, 226);
 margin-top: -60px;
color: white;
 font-weight: bold;
}
.polit{
color: white;
 font-weight: bold;
}
.img_footer:hover{
    box-shadow:  1px 1px 30px #eceae9; 
    transition: 0.4s ease;
}